@use '../abstracts' as *;
@use '../util/mixin' as *;

.blog {
    min-height: 25rem;

    img {
        min-height: 100%;
    }
}

.bg-image {
    min-height: 100%;
}

.post {
    flex-direction: column;
    min-height: 100%;
    @include centering;
    p{
        text-align: center;
        padding: 0;
        margin: 0;
        @include subheader;
        @include subtextcolor
    }

   a {
    color: aliceblue;
    border: 1px solid aliceblue;
    margin-left: .25rem;
    border-radius: 1.25rem;
   }
}