@use '../abstracts' as *;
@use '../util/mixin' as *;

.blog {
    min-height: 25rem;

    img {
        min-height: 100%;
    }
}

.bg-image {
    min-height: 100%;
}

.post {

    p:nth-child(1) {
        text-align: center;
        padding: 0;
        margin: 0;
        @include subheader;
        @include subtextcolor
    }

    p:nth-child(2) {
        color: aliceblue;
        padding: 0 .2rem;
    }

   a {
    color: aliceblue;
    border: 1px solid aliceblue;
    margin-left: .25rem;
    border-radius: 1.25rem;
   }
}